### Abengers, Assemble!

## Core Mission

- 다음 질문에 답하시오.
 - 캐릭터는 저마다 지능, 힘, ... 등 다양한 수치를 지니고 있다. 이러한 **수치의 합이 가장 큰 캐릭터**는 누구인가? 이를 보이기 위한 과정을 보여라.
 - 좋은 캐릭터와 나쁜 캐릭터의 능력치들의 수치 분포를 알고 싶다. 이를 표현하기 위한 적절한 그래프를 선택해서 이를 위한 전처리를 진행하고, 시각화하여라.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
charstat_df=pd.read_csv('./charcters_stats.csv')
charstat_df.head(10)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
5,Abraxas,bad,88,100,83,99,100,56,526
6,Adam Monroe,good,63,10,12,100,71,64,320
7,Adam Strange,good,1,1,1,1,0,1,5
8,Agent 13,good,1,1,1,1,0,1,5
9,Agent Bob,good,10,8,13,5,5,20,61

In [3]:
charstat_df.corr()

,Intelligence,Strength,Speed,Durability,Power,Combat,Total
Intelligence,1.000000,0.565508,0.619845,0.683933,0.720550,0.783679,0.856352
Strength,0.565508,1.000000,0.640657,0.793649,0.639829,0.575045,0.824557
Speed,0.619845,0.640657,1.000000,0.704255,0.683467,0.594568,0.813902
Durability,0.683933,0.793649,0.704255,1.000000,0.756840,0.679583,0.907441
Power,0.720550,0.639829,0.683467,0.756840,1.000000,0.653452,0.873359
Combat,0.783679,0.575045,0.594568,0.679583,0.653452,1.000000,0.839966
Total,0.856352,0.824557,0.813902,0.907441,0.873359,0.839966,1.000000

In [4]:
charstat_df.describe()

,Intelligence,Strength,Speed,Durability,Power,Combat,Total
count,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000
mean,44.502455,29.083470,27.306056,41.839607,40.312602,43.206219,226.250409
std,32.924722,32.610939,25.760173,36.543849,34.539910,33.270329,167.324034
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,5.000000
25%,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,5.000000
50%,50.000000,10.000000,23.000000,32.000000,37.000000,50.000000,255.000000
75%,75.000000,53.000000,42.000000,80.000000,67.000000,70.000000,351.500000
max,113.000000,100.000000,100.000000,120.000000,100.000000,101.000000,581.000000

In [5]:
charstat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          611 non-null    object
 1   Alignment     608 non-null    object
 2   Intelligence  611 non-null    int64
 3   Strength      611 non-null    int64
 4   Speed         611 non-null    int64
 5   Durability    611 non-null    int64
 6   Power         611 non-null    int64
 7   Combat        611 non-null    int64
 8   Total         611 non-null    int64
dtypes: int64(7), object(2)
memory usage: 43.1+ KB